alembic
asyncpg
boto3
fastapi[standard]
gunicorn
pathlib
Pillow
pytest-asyncio
python-magic
python-multipart
psycopg2-binary
python-docx
pypdf
pdf2image
structlog
sqlalchemy[asyncio]


